.search-container {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Vertically align items */
  justify-content: flex-start; /* Align items to the left */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem; /* Adjust padding for better spacing */
  background-color: transparent;
  width: fit-content; /* Adjust width based on content */
}

.search-container h4 {
  margin: 0; /* Remove default margin */
  font-size: 1rem; /* Adjust font size */
  color: #ffffff;
}

.search-container .search-icon {
  margin-left: 0.5rem; /* Add spacing between the icon and text */
  color: #555;
  cursor: pointer;
  transition: color 0.3s ease;
}

.search-container .search-icon:hover {
  color: #ffcc00; /* Gold hover effect */
}

.search-input {
  border: none;
  outline: none;
  font-size: 0.9rem;
  padding: 0.25rem;
  margin-right: 0.5rem;
  flex: 1; /* Allow input to grow */
}

.search-input::placeholder {
  color: #aaa;
}

.search-icon {
  color: #555;
  cursor: pointer;
  transition: color 0.3s ease;
}

.search-icon:hover {
  color: #ffcc00; /* Gold hover effect */
}

.search-button {
  background-color: #000000;
  border: none;
  color: #e40000;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  margin-left: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.search-button:hover {
  background-color: #232323;
  color: #fff;
}
